{% extends 'basic.html' %}
{% block title %}
Welcom To Office manage system
{% endblock %}

{% block body %}
<div class="container">
  <h3>Remove Employee</h3>

  <div class="dropdown">
    <a href="/employee"class = "btn btn-primary mx-2">back</a>

    <button class="btn btn-primary dropdown-toggle mx-4" type="button" id="dropdownMenuButton" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      Dropdown button

    </button>

   
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      {%for emp in allemp %}
      <a class="dropdown-item" href="/employee/removeemp/{{emp.id}}">{{emp.id}} => {{emp.first_name}}  {{emp.last_name}}</a>
      {%endfor%}
    </div>

  </div>
</div>



{% endblock %}