
{% extends 'basic.html' %}
{% block title %} Welcome TO About {%endblock%}
{% block body %} 
{% load static %}
<div class="container my-5">
    <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">About</h1>
          <p>My Office  Management System is very beautiful website</p>
          
        </div>
      </div>
<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row center">
   
   
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-12 center">
        <img class="rounded-circle" src="/static/images/kiran1.jpg" alt="Generic placeholder image" width="140" height="140">
      <p>Office management is a profession involving the design, implementation, evaluation, and maintenance of the process of work within an office or other organization, in order to sustain and improve efficiency and productivity.

        Office management is thus a part of the overall administration of business and since the elements of management are forecasting and planning, organizing, command, control and coordination, the office is a part of the total management function.
        
        Office management is the technique of planning, organizing, coordinating and controlling office activities with a view to achieve business objectives and is concerned with efficient and effective performance of the office work. </p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

<hr>
    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 400px; height: 400px;" src="/static/images/emp.jpeg" data-holder-rendered="true">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 400px; height: 400px;" src="/static/images/emp.jpeg" data-holder-rendered="true">

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 400px; height: 400px;" src="/static/images/emp3.jpeg" data-holder-rendered="true">

      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div>
</div>

  {%endblock%}